In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Amazon Beauty Recommendation System.csv')
data

                 UserId   ProductId  Rating   Timestamp
0        A39HTATAQ9V7YF   205616461       5  1369699200
1        A3JM6GV9MNOF9X   558925278       3  1355443200
2        A1Z513UWSAAO0F   558925278       5  1404691200
3        A1WMRR494NWEWV   733001998       4  1382572800
4        A3IAAVS479H7M7   737104473       1  1274227200
...                 ...         ...     ...         ...
1048570  A31P1LMEXJ8MML  B003H897AQ       1  1334448000
1048571   A6U8SW1MFX122  B003H897AQ       4  1361404800
1048572  A2ND0PP8HY7KBE  B003H897AQ       1  1372464000
1048573   AC9W044EAHP8P  B003H897AQ       1  1392768000
1048574   AXCFH81C3PM6O  B003H897AQ       4  1366070400

[1048575 rows x 4 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   UserId     1048575 non-null  object
 1   ProductId  1048575 non-null  object
 2   Rating     1048575 non-null  int64
 3   Timestamp  1048575 non-null  int64
dtypes: int64(2), object(2)
memory usage: 32.0+ MB

In [5]:
data.head()

           UserId  ProductId  Rating   Timestamp
0  A39HTATAQ9V7YF  205616461       5  1369699200
1  A3JM6GV9MNOF9X  558925278       3  1355443200
2  A1Z513UWSAAO0F  558925278       5  1404691200
3  A1WMRR494NWEWV  733001998       4  1382572800
4  A3IAAVS479H7M7  737104473       1  1274227200

In [6]:
data.tail()

                 UserId   ProductId  Rating   Timestamp
1048570  A31P1LMEXJ8MML  B003H897AQ       1  1334448000
1048571   A6U8SW1MFX122  B003H897AQ       4  1361404800
1048572  A2ND0PP8HY7KBE  B003H897AQ       1  1372464000
1048573   AC9W044EAHP8P  B003H897AQ       1  1392768000
1048574   AXCFH81C3PM6O  B003H897AQ       4  1366070400

In [7]:
data.describe()

             Rating     Timestamp
count  1.048575e+06  1.048575e+06
mean   4.176864e+00  1.345636e+09
std    1.306543e+00  5.567113e+07
min    1.000000e+00  9.087552e+08
25%    4.000000e+00  1.322438e+09
50%    5.000000e+00  1.362960e+09
75%    5.000000e+00  1.385856e+09
max    5.000000e+00  1.406074e+09

In [8]:
data.shape

(1048575, 4)

In [10]:
data.size

4194300

In [11]:
data.value_counts()

UserId                 ProductId   Rating  Timestamp
A000186437REL8X2RW8UW  B000JD4N9M  5       1397088000    1
A3IQE1S7IMHCB8         B000GHF3EA  5       1396828800    1
A3IQB0QHVLAK92         B00004TMFE  4       1357257600    1
A3IQBZI7IV7D6G         B002BCB3Q0  3       1401580800    1
A3IQC018DJ4R0P         B000U1W60Q  5       1348012800    1
                                                        ..
A29GQQYQ7BML3P         B000C219EW  5       1391126400    1
A29GQYPEBINZK0         B000REAKFY  2       1365811200    1
A29GR5066FLOB8         B00067YSLO  5       1401840000    1
A29GRPOGTTX5O2         B000BH1G3C  4       1241481600    1
AZZZLM1E5JJ8C          B000WY1CM4  4       1354924800    1
Name: count, Length: 1048575, dtype: int64

In [12]:
data.dtypes

UserId       object
ProductId    object
Rating        int64
Timestamp     int64
dtype: object

In [14]:
data.columns

Index(['UserId', 'ProductId', 'Rating', 'Timestamp'], dtype='object')

## 1-generate unique users and products list

In [16]:
# Load the dataset
import pandas as pd

file_path = 'Amazon Beauty Recommendation System.csv'
df = pd.read_csv(file_path)

# Get unique users and products
unique_users = df['UserId'].unique()
unique_products = df['ProductId'].unique()

# Convert to lists
unique_users_list = list(unique_users)
unique_products_list = list(unique_products)

# Print sample results
print(f"Total Unique Users: {len(unique_users_list)}")
print(f"Total Unique Products: {len(unique_products_list)}")
print("Sample Users:", unique_users_list[:5])
print("Sample Products:", unique_products_list[:5])

Total Unique Users: 736653
Total Unique Products: 97987
Sample Users: ['A39HTATAQ9V7YF', 'A3JM6GV9MNOF9X', 'A1Z513UWSAAO0F', 'A1WMRR494NWEWV', 'A3IAAVS479H7M7']
Sample Products: ['205616461', '558925278', '733001998', '737104473', '762451459']

##pivot_table to generate a table with user id as index and product id as coluns and cell values as ratings

In [20]:
# Load the dataset
import pandas as pd

file_path = 'Amazon Beauty Recommendation System.csv'
df = pd.read_csv(file_path)

# Reduce dataset size by filtering popular products and active users
popular_products = df['ProductId'].value_counts().nlargest(5000).index  # Keep top 5000 products
active_users = df['UserId'].value_counts().nlargest(5000).index  # Keep top 5000 users
df_filtered = df[df['ProductId'].isin(popular_products) & df['UserId'].isin(active_users)]

# Generate pivot table with reduced size
pivot_table = df_filtered.pivot_table(index='UserId', columns='ProductId', values='Rating', aggfunc='mean', fill_value=0)

# Convert to a sparse matrix for efficiency
pivot_table = pivot_table.astype(pd.SparseDtype("float", fill_value=0))

# Display pivot table sample
print(pivot_table.head())

ProductId              9746427962  9790778309  9790790961  B00004TMFE  \
UserId
A02155413BVL8D0G7X6DN           0           0           0           0
A03364251DGXSGA9PSR99           0           0           0           0
A100WO06OQR8BQ                  0           0           0           0
A1010QRG4BH51B                  0           0           0           0
A101NJYKW882Y0                  0           0           0           0

ProductId              B00004TUBL  B00004TUBV  B00004U9UY  B00004U9V2  \
UserId
A02155413BVL8D0G7X6DN           0           0           0           0
A03364251DGXSGA9PSR99           0           0           0           0
A100WO06OQR8BQ                  0           0           0           0
A1010QRG4BH51B                  0           0           0           0
A101NJYKW882Y0                  0           0           0           0

ProductId              B000050B6U  B000050B75  ...  B003H1HCIM  B003H25J86  \
UserId                                         ...
A02155413BVL8D0G7X6DN           0           0  ...           0           0
A03364251DGXSGA9PSR99           0           0  ...           0           0
A100WO06OQR8BQ                  0           0  ...           0           0
A1010QRG4BH51B                  0           0  ...           0           0
A101NJYKW882Y0                  0           0  ...           0           0

ProductId              B003H2MR2W  B003H3KLLA  B003H60F3G  B003H6C764  \
UserId
A02155413BVL8D0G7X6DN           0           0           0           0
A03364251DGXSGA9PSR99           0           0           0           0
A100WO06OQR8BQ                  0           0           0           0
A1010QRG4BH51B                  0           0           0           0
A101NJYKW882Y0                  0           0           0           0

ProductId              B003H8180I  B003H83U36  B003H87S0C  B003H897AQ
UserId
A02155413BVL8D0G7X6DN           0           0           0           0
A03364251DGXSGA9PSR99           0           0           0           0
A100WO06OQR8BQ                  0           0           0           0
A1010QRG4BH51B                  0           0           0           0
A101NJYKW882Y0                  0           0           0           0

[5 rows x 4627 columns]

##generate user user similarity matrix if ur desinging user user recommendations

In [22]:
user_similarity = cosine_similarity(pivot_table_sparse)
user_similarity_df = pd.DataFrame(user_similarity, index=pivot_table.index, columns=pivot_table.index)

# Display sample of user-user similarity matrix
print(user_similarity_df.head())

UserId                 A02155413BVL8D0G7X6DN  A03364251DGXSGA9PSR99  \
UserId
A02155413BVL8D0G7X6DN                    1.0                    0.0
A03364251DGXSGA9PSR99                    0.0                    1.0
A100WO06OQR8BQ                           0.0                    0.0
A1010QRG4BH51B                           0.0                    0.0
A101NJYKW882Y0                           0.0                    0.0

UserId                 A100WO06OQR8BQ  A1010QRG4BH51B  A101NJYKW882Y0  \
UserId
A02155413BVL8D0G7X6DN             0.0             0.0             0.0
A03364251DGXSGA9PSR99             0.0             0.0             0.0
A100WO06OQR8BQ                    1.0             0.0             0.0
A1010QRG4BH51B                    0.0             1.0             0.0
A101NJYKW882Y0                    0.0             0.0             1.0

UserId                 A102JNFLL0KW7I  A103BJIOJSDJL1  A103ZVTCQUF348  \
UserId
A02155413BVL8D0G7X6DN             0.0             0.0             0.0
A03364251DGXSGA9PSR99             0.0             0.0             0.0
A100WO06OQR8BQ                    0.0             0.0             0.0
A1010QRG4BH51B                    0.0             0.0             0.0
A101NJYKW882Y0                    0.0             0.0             0.0

UserId                 A1047EDJ84IMAS  A104BMR0QRIDSZ  ...  AZN28ZLXYIJDE  \
UserId                                                 ...
A02155413BVL8D0G7X6DN             0.0             0.0  ...            0.0
A03364251DGXSGA9PSR99             0.0             0.0  ...            0.0
A100WO06OQR8BQ                    0.0             0.0  ...            0.0
A1010QRG4BH51B                    0.0             0.0  ...            0.0
A101NJYKW882Y0                    0.0             0.0  ...            0.0

UserId                 AZNNIVT2R0W0L  AZOO27I3Z0IQO  AZR4DVSW2NOOA  \
UserId
A02155413BVL8D0G7X6DN            0.0            0.0            0.0
A03364251DGXSGA9PSR99            0.0            0.0            0.0
A100WO06OQR8BQ                   0.0            0.0            0.0
A1010QRG4BH51B                   0.0            0.0            0.0
A101NJYKW882Y0                   0.0            0.0            0.0

UserId                 AZSWYOYUCD81E  AZTZ7SIIRXLXE  AZV2AG96CRJ26  \
UserId
A02155413BVL8D0G7X6DN            0.0            0.0            0.0
A03364251DGXSGA9PSR99            0.0            0.0            0.0
A100WO06OQR8BQ                   0.0            0.0            0.0
A1010QRG4BH51B                   0.0            0.0            0.0
A101NJYKW882Y0                   0.0            0.0            0.0

UserId                 AZW9UD7Z7J0WL  AZX1JTTIUYZX4  AZZT1ERHBSNQ8
UserId
A02155413BVL8D0G7X6DN            0.0            0.0            0.0
A03364251DGXSGA9PSR99            0.0            0.0            0.0
A100WO06OQR8BQ                   0.0            0.0            0.0
A1010QRG4BH51B                   0.0            0.0            0.0
A101NJYKW882Y0                   0.0            0.0            0.0

[5 rows x 4931 columns]

In [25]:
# Compute item-item similarity using cosine similarity
item_similarity = cosine_similarity(pivot_table_sparse.T)
item_similarity_df = pd.DataFrame(item_similarity, index=pivot_table.columns, columns=pivot_table.columns)

# Display sample of item-item similarity matrix
print(item_similarity_df.head())

ProductId   9746427962  9790778309  9790790961  B00004TMFE  B00004TUBL  \
ProductId
9746427962         1.0         0.0         0.0         0.0         0.0
9790778309         0.0         1.0         0.0         0.0         0.0
9790790961         0.0         0.0         1.0         0.0         0.0
B00004TMFE         0.0         0.0         0.0         1.0         0.0
B00004TUBL         0.0         0.0         0.0         0.0         1.0

ProductId   B00004TUBV  B00004U9UY  B00004U9V2  B000050B6U  B000050B75  ...  \
ProductId                                                               ...
9746427962         0.0         0.0         0.0         0.0         0.0  ...
9790778309         0.0         0.0         0.0         0.0         0.0  ...
9790790961         0.0         0.0         0.0         0.0         0.0  ...
B00004TMFE         0.0         0.0         0.0         0.0         0.0  ...
B00004TUBL         0.0         0.0         0.0         0.0         0.0  ...

ProductId   B003H1HCIM  B003H25J86  B003H2MR2W  B003H3KLLA  B003H60F3G  \
ProductId
9746427962         0.0         0.0         0.0         0.0         0.0
9790778309         0.0         0.0         0.0         0.0         0.0
9790790961         0.0         0.0         0.0         0.0         0.0
B00004TMFE         0.0         0.0         0.0         0.0         0.0
B00004TUBL         0.0         0.0         0.0         0.0         0.0

ProductId   B003H6C764  B003H8180I  B003H83U36  B003H87S0C  B003H897AQ
ProductId
9746427962         0.0         0.0         0.0         0.0         0.0
9790778309         0.0         0.0         0.0         0.0         0.0
9790790961         0.0         0.0         0.0         0.0         0.0
B00004TMFE         0.0         0.0         0.0         0.0         0.0
B00004TUBL         0.0         0.0         0.0         0.0         0.0

[5 rows x 4627 columns]

In [27]:
from sklearn.preprocessing import MinMaxScaler
# Normalize item-item similarity matrix
scaler = MinMaxScaler()
item_similarity_df = pd.DataFrame(scaler.fit_transform(item_similarity_df), index=item_similarity_df.index, columns=item_similarity_df.columns)

# Display sample of preprocessed item-item similarity matrix
print(item_similarity_df.head())

ProductId   9746427962  9790778309  9790790961  B00004TMFE  B00004TUBL  \
ProductId
9746427962         1.0         0.0         0.0         0.0         0.0
9790778309         0.0         1.0         0.0         0.0         0.0
9790790961         0.0         0.0         1.0         0.0         0.0
B00004TMFE         0.0         0.0         0.0         1.0         0.0
B00004TUBL         0.0         0.0         0.0         0.0         1.0

ProductId   B00004TUBV  B00004U9UY  B00004U9V2  B000050B6U  B000050B75  ...  \
ProductId                                                               ...
9746427962         0.0         0.0         0.0         0.0         0.0  ...
9790778309         0.0         0.0         0.0         0.0         0.0  ...
9790790961         0.0         0.0         0.0         0.0         0.0  ...
B00004TMFE         0.0         0.0         0.0         0.0         0.0  ...
B00004TUBL         0.0         0.0         0.0         0.0         0.0  ...

ProductId   B003H1HCIM  B003H25J86  B003H2MR2W  B003H3KLLA  B003H60F3G  \
ProductId
9746427962         0.0         0.0         0.0         0.0         0.0
9790778309         0.0         0.0         0.0         0.0         0.0
9790790961         0.0         0.0         0.0         0.0         0.0
B00004TMFE         0.0         0.0         0.0         0.0         0.0
B00004TUBL         0.0         0.0         0.0         0.0         0.0

ProductId   B003H6C764  B003H8180I  B003H83U36  B003H87S0C  B003H897AQ
ProductId
9746427962         0.0         0.0         0.0         0.0         0.0
9790778309         0.0         0.0         0.0         0.0         0.0
9790790961         0.0         0.0         0.0         0.0         0.0
B00004TMFE         0.0         0.0         0.0         0.0         0.0
B00004TUBL         0.0         0.0         0.0         0.0         0.0

[5 rows x 4627 columns]

In [28]:
# Function to get top similar users
def get_top_similar_users(user_id, top_n=5):
    if user_id not in user_similarity_df.index:
        return []
    similar_users = user_similarity_df[user_id].sort_values(ascending=False).iloc[1:top_n+1]
    return similar_users.index.tolist()

# Example usage
example_user = pivot_table.index[0]  # Get a sample user
similar_users = get_top_similar_users(example_user, top_n=5)
print(f"Top similar users for {example_user}: {similar_users}")

Top similar users for A02155413BVL8D0G7X6DN: ['A14EGTIUFVIIS4', 'A25VUNGYCUFEN0', 'A3MPZJ19V4E34H', 'A3VPHOHZVHW9Y0', 'A9MTN0D260WAD']

In [29]:
# Function to get top similar items
def get_top_similar_items(product_id, top_n=5):
    if product_id not in item_similarity_df.index:
        return []
    similar_items = item_similarity_df[product_id].sort_values(ascending=False).iloc[1:top_n+1]
    return similar_items.index.tolist()

# Example usage
example_product = pivot_table.columns[0]  # Get a sample product
similar_items = get_top_similar_items(example_product, top_n=5)
print(f"Top similar items for {example_product}: {similar_items}")

Top similar items for 9746427962: ['B00306CISI', 'B0002Z8SE8', 'B001G3VA22', 'B001KYO08S', 'B00397SNMS']

In [30]:
# Function to generate recommendations for a user
def recommend_items(user_id, top_n=5):
    if user_id not in pivot_table.index:
        return []
    user_ratings = pivot_table.loc[user_id]
    rated_items = user_ratings[user_ratings > 0].index.tolist()
    
    recommendations = {}
    for item in rated_items:
        similar_items = get_top_similar_items(item, top_n=top_n)
        for sim_item in similar_items:
            if sim_item not in rated_items:
                recommendations[sim_item] = recommendations.get(sim_item, 0) + item_similarity_df.loc[item, sim_item]
    
    recommended_items = sorted(recommendations, key=recommendations.get, reverse=True)[:top_n]
    return recommended_items

# Example usage
example_user = pivot_table.index[0]  # Get a sample user
recommended_items = recommend_items(example_user, top_n=5)
print(f"Recommended items for user {example_user}: {recommended_items}")

Recommended items for user A02155413BVL8D0G7X6DN: ['B0014LQ9JA', 'B002LE8OVA', 'B003D1TNHY', 'B002BAOMAG', 'B003FBI9KY']